extends layouts/default

append vars
	- var page = 'index'

block content
	button#tryNotification(type='button', class='btn btn-default') Vyzkoušet upozornění (notifikace)
	script.
		new Notifier('#tryNotification')

	button#tryRepo(type='button', class='btn btn-primary') Vyzkoušet vytvoření repozitáře
	script.
		new Repo('#tryRepo')

	button#tryGitInfo(type='button', class='btn btn-success') Zjist nastavení Gitu
	script.
		new GitInfo('#tryGitInfo')
