extends layouts/default

append vars
	- var page = 'index'

block content
	button#tryNotification(style='margin-bottom: 15px;', type='button', class='btn btn-block btn-warning') Vyzkoušet upozornění (notifikace)
	script.
		new Notifier('#tryNotification')

	button#tryRepo(style='margin-bottom: 15px;', type='button', class='btn btn-block btn-primary') Vyzkoušet vytvoření repozitáře
	script.
		new Repo('#tryRepo')

	button#tryGitInfo(style='margin-bottom: 15px;', type='button', class='btn btn-block btn-success') Zjist nastavení Gitu
	script.
		new GitInfo('#tryGitInfo')

	button#tryUserData(style='margin-bottom: 15px;', type='button', class='btn btn-block btn-danger') Otestovat uživatelskou složku
	script.
		new UserData('#tryUserData')
