.commit-wrapper {}

.commit-in {
	display: block;
	width: 100%;
	border: none;
	background: transparent;
	cursor: pointer;
	text-align: left;
}
.commit-in:focus {
	outline: none;
}
.commit-in:hover {
	text-decoration: underline;
}

/* File staged */
.commit-full {}

.commit-label {}

.commit-status {
	color: rgba(0, 0, 0, 0.541176);
}
