.history-titles:after,
.history-tree:after {
	content: '';
	display: table;
	clear: both;
}

.history-tree {
	margin-top: 30px;
}

.history-node,
.history-title {
	position: relative;
	float: left;
	box-sizing: border-box;
	width: 100%;
}
.history-title {
	width: 50%;
	padding-right: 1%;
}
.history-title + .history-title {
	padding-left: 1%;
}

.history-line {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
}
.history-line:before,
.history-line:after {
	top: 20px;
	bottom: -20px;
	left: 0;
	width: 6px;
	transform: translateX(-50%);
	content: '';
}
.history-line:before,
.history-line:after,
.history-line-in {
	position: absolute;
	margin-left: 10px;
	background-color: #FF8A80;
	display: none;
}
.history-line:after {
	left: 51%;
	background-color: #3F51B5;
}
.history-line-common:before {
	background-color: #F44336;
}
.history-line-in {
	bottom: -6px;
	width: 51%;
	height: 6px;
	transform: translateY(-50%);
	background: linear-gradient(90deg, #FF8A80, #3F51B5);
}
.history-line-merge:after {
	bottom: -3px;
}
.history-line-remote:before,
.history-line-common:before,
.history-line-local:after,
.history-line-merge:before,
.history-line-merge .history-line-in {
	display: block;
}
.history-line-last:before {
	background: linear-gradient(#FF8A80, transparent);
}
.history-line-common.history-line-last:before {
	background: linear-gradient(#F44336, transparent);
}
.history-line-last:after {
	background: linear-gradient(#3F51B5, transparent);
}
.history-line-merge:not(.history-line-remote):before {
	top: auto;
	height: 23px;
}

.history-node-in {
	position: relative;
	line-height: 20px;
	font-size: 16px;
	padding: 10px 0 10px 30px;
	border: none;
	background: transparent;
	text-align: left;
	width: 100%;
	cursor: pointer;
}

.history-node-in:hover,
.history-node-in:focus {
	outline: none;
	text-decoration: underline;
}

.history-node-mergeCommit .history-node-in {
	font-style: italic;
	color: #616161;
}

.history-node-in:before {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 1;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transform: translateY(-50%);
	content: '';
}

.history-node-local {
	padding-left: 51%;
}
.history-node-local .history-node-in:before {
	background-color: #3F51B5;
}

.history-node-remote {
	padding-right: 51%;
}
.history-node-remote .history-node-in:before {
	background-color: #FF8A80;
}

.history-node-common .history-node-in:before {
	background: linear-gradient(135deg, #F44336 45%, #3F51B5 55%);
}
