.history {}

.history-tree:after {
	content: '';
	display: table;
	clear: both;
}

.history-node {
	position: relative;
	float: left;
	box-sizing: border-box;
	width: 100%;
}

.history-line {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
}
.history-line:before,
.history-line:after {
	top: 20px;
	bottom: -20px;
	left: 0;
	width: 6px;
	transform: translateX(-50%);
	content: '';
}
.history-line:before,
.history-line:after,
.history-line-in {
	position: absolute;
	margin-left: 10px;
	background-color: #FF0000;
	display: none;
}
.history-line:after {
	left: 50%;
	background-color: #00FF00;
}
.history-line-in {
	bottom: -6px;
	width: 50%;
	height: 6px;
	transform: translateY(-50%);
	background: linear-gradient(90deg, #FF0000, #00FF00);
}
.history-line-merge:after {
	bottom: -3px;
}
.history-line-remote:before,
.history-line-common:before,
.history-line-local:after,
.history-line-merge:before,
.history-line-merge .history-line-in {
	display: block;
}
.history-line-last:before,
.history-line-last:after {
	background: linear-gradient(#FF0000, transparent);
}
.history-line-merge:not(.history-line-remote):before {
	top: auto;
	height: 23px;
}

.history-node-in {
	position: relative;
	padding-left: 50px;
	line-height: 20px;
	font-size: 16px;
	padding: 10px 0 10px 30px;
}

.history-node-in:before {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 1;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transform: translateY(-50%);
	content: '';
}

.history-node-local {
	padding-left: 50%;
}
.history-node-local .history-node-in:before {
	background-color: #00FF00;
}

.history-node-remote {
	padding-right: 50%;
}
.history-node-remote .history-node-in:before {
	background-color: #FF0000;
}

.history-node-common .history-node-in:before {
	background: linear-gradient(135deg, #FF0000 45%, #00FF00 55%);
}
